/* -- Link to Google Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap');

/* -- Page Set Up -- */

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Luckiest Guy', cursive;
}

/* -- Colours -- */

.color-scheme-ax {
    background-color:#1F0229;
    color:#FFFF00;
}

.color-scheme-ay {
    background-color:#FFFF00;
    color: #1F0229;
}

.color-scheme-bx {
    background-color: #084A5C;
    color: #7fffd4;
}

.color-scheme-by {
    background-color: #7fffd4;
    color: #084A5C;
}

.color-scheme-cx {
    background-color: #1F0229;
    color: #7fffd4;
}

.color-scheme-cy {
    background-color:#7fffd4;
    color: #1F0229;
}

.color-scheme-dx {
    background-color: #084A5C;
    color:#FFFF00;
}

.color-scheme-dy {
    background-color: #FFFF00;
    color: #084A5C;
}

.color-scheme-e {
    background-color: red;
}

/* -- Navbar -- */

.navbar {
    background-color:#7fffd4 !important;
    font-family: 'Luckiest Guy', cursive !important;
    color: #084A5C !important;
}

.navbar-brand {
    color:#084A5C;
    font-size: 2rem;
}

#page1 {
    color:#084A5C;
}

#page2 {
    color:#084A5C;
}

#page3 {
    color:#084A5C;
}

/* -- Game -- */
/* -- Controls Area -- */

.main-title {
    text-align: center;
    padding: 20px 0 10px 0;
    margin: 0;
    color:#FFFF00 !important;
}

.game-area {
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0;
}

.icon-panel {
    margin: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.icon {
    color:#FFFF00 !important;
    border-color: #FFFF00 !important;
}

/* -- Question Area -- */

.question-area {
    padding-top: 20px;
}

.question-title {
    text-align: center;
    margin: 0;
}

.question-div {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

#answer-box{
    
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 120px;
}

#submit {
    background-color: #1F0229 !important;
    color:#FFFF00 !important;
}

/* -- Timer Area -- */

.timer-row {
    padding: 20px;
    text-align: center;
}

.timer-area {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.novice-timer {
    background-color:#FFFF00;
    color:#1F0229;
    padding: 5px;
    height: 100%;
    width: 80%;
    font-size: x-large;
} 

.adept-timer {
    background-color:#084A5C;
    color:#7fffd4;
    padding: 5px;
    height: 100%;
    width: 80%;
    font-size: x-large;
} 

.advanced-timer {
    background-color:#FFFF00;
    color:#1F0229;
    padding: 5px;
    height: 100%;
    width: 80%;
    font-size: x-large;
} 

/* -- Scores Area -- */

.score-area {
    padding-bottom: 20px;
}

.scores-title {
    text-align: center;
}

.scores {
    text-align: center;
    padding: 0;
    margin: 0;
}

.positive-score {
    margin-left: 20px;
    margin-right: 20px;
}

.negative-score {
    margin-left: 20px;
    margin-right: 20px;
}

/* -- Footer -- */

.footer-top {
    text-align: center;
    font-size: 1rem;
    padding: 20px 0 20px 0;
}

.review {
    padding-bottom: 0;
}

.stars {
    text-align: center;
    padding-top: 0;
}

.reset {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#reset {
    background-color:#084A5C !important;
    color:#7fffd4 !important;
    width: 150px;
    height: 50px;
}

#add-reset {
    background-color:#084A5C !important;
    color:#7fffd4 !important;
    width: 150px;
    height: 50px;
}

.social-links {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
}

.footer-links{
    padding-left: 20px;
    padding-right: 20px;
    color:#084A5C !important;
}

/* -- Addition Page -- */

/* -- Question and Answer Section -- */

#add-answer-box{
    
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 120px;
}

#addition-submit{
    background-color: #1F0229 !important;
    color:#FFFF00 !important;
}

/* -- Instructions Page -- */
/* -- Instructions -- */

#instructions-title {
    padding: 0 20px 0 20px;
}

.instructions {
    padding: 0 20px 20px 20px;
    margin: 0;
}

/* -- Examples -- */

#examples-title {
    text-align: center;
    padding-top: 20px;
}

.examples-subtitle {
    text-align: center;
}

.examples {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

/* -- Timer -- */

.timer-subtitle {
    padding: 20px 20px 0 20px;
}

.timer-script {
    padding: 0 20px 20px 20px;
    margin: 0;
}

/* -- Restart -- */

#restart {
    padding: 20px 20px 0 20px;
}

.restart-text {
    padding: 0 20px 20px 20px;
    margin: 0;
}

/* -- Enjoy -- */

#enjoy {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}